body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fffafa;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.right {
    flex: 1;
    background-color: #fffafa;
    color: #fffafa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form {
    width: 350px;
    background-color: #f17821;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.form h1 {
    text-align: center;
}

.form label {
    display: block;
    margin-bottom: 10px;
}

.form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fffafa;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #fffafa;
}

.form input:hover {
    background-color: #ccc;
}

.form button {
    width: 35%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form button:hover {
    background-color: #555;
}

.nav {
    background-color: #f17821;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.nav img {
    width: 75px;
    height: auto;
}

.nav h2 {
    color: #000;
    margin-left: 0;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav ul li {
    margin-left: 20px;
    color: #000; 
}

.nav ul li:first-child {
    margin-left: 25px;
}

.nav ul li:last-child {
    margin-right: 25px;
}

.nav img {
    margin-left: 35px;
    margin-right: 35px;
}

.nav ul li .textbuttom {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav ul li .textbuttom:hover {
    text-decoration: underline;
    color: #555;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 1s infinite alternate;
}
